.content {
    &__panel {
        padding: 16px;
        background-color: #421f59;
        width: 100%;
        max-width: 600px;
        display: block;
        position: fixed;
        border: 2px solid white;

        &-title {
            font-size: 24px;
            color: #fff;
            line-height: 2;
            text-align: center;
        }

        &-actions {
            margin-top: 12px;
        }
        & &-action {
            box-shadow: 0 3px 3px 0 #333;
            display: inline-block;

            &:hover {
                box-shadow: 0 3px 6px 0 #222;
            }
        }
    }

    &__preset{
        &-selector {
            width: 100%;
            display: block;
            font-size: 18px;
            padding: 4px 8px;
            background-color: #421f59;
            border: 2px solid #fff;
            border-radius: 4px;
            color: #fff;
        }
    }

    &__matrix {
        margin-bottom: 16px;
        border: 2px solid white;
        padding: 8px;

        &-row {
            display: flex;
            gap: 8px;
            &:not(:last-of-type) {
                margin-bottom: 8px;
            }
        }

        &-input {
            width: 100%;
        }
    }

    &__canvas {
        display: block;
        width: 100vw;
        height: calc(100vh - 67px);

        &-container {
            // max-width: 800px;
            // margin: 0 auto;
        }
    }

    &__actions {
        position: fixed;
        bottom: 0;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 12px;
        padding: 16px;
        background-color: #fff;
        width: 100%;
        left: 0;
        border-left: 3px solid var(--primary-color);
    }

    &__action {
        &>span:first-child {
            display: none;
        }

        &._ended {
            background-color: #f80;

            &> :first-child {
                display: inline;
            }

            &> :last-child {
                display: none;
            }
        }

        &:hover {
            opacity: 0.9;
            box-shadow: 0 3px 6px 0 #777;
        }

        &:active {
            opacity: 0.8;
        }
    }
}

canvas {
    display: block;
}

.button {
    border-radius: 12px;
    padding: 8px 12px;
    background-color: #08f;
    color: #fff;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
    transition: opacity 300ms, box-shadow 300ms;
    box-shadow: 0 3px 3px 0 #aaa;
    display: inline-block;

    &:hover {
        opacity: 0.9;
        box-shadow: 0 3px 6px 0 #777;
    }

    &:active {
        opacity: 0.8;
    }
}